.bar.bar-header.head {
  border-bottom: 1px solid #e60012;
}
.bar.bar-header.head .title {
  color: #000;
  font-family: "黑体";
  letter-spacing: 2px;
  font-size: 20px;
}
.list {
  background: #ffffff;
  padding: 0;
}
.list p {
  margin-bottom: 0;
  padding-bottom: 5px;
  font-size: 18px;
  font-family: '黑体';
  border-bottom: 1px solid #c0c0c5;
}
.list p span {
  color: #c0c0c5;
  font-size: 16px;
}
.list p i {
  color: #c0c0c5;
  float: right;
  font-size: 30px;
  margin-top: -17px;
}
.list-item.item-icon-right {
  border: none;
  margin: 0;
}
.item {
  border: none;
  padding-bottom: 0;
  margin: 0;
}
.list {
  border-radius: 5px;
  border: 1px solid #fff;
}
