.index body {
  font-family: "微软雅黑";
}
.index .bar .title {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  color: #231815;
  padding-left: 28px;
}
.index .bar {
  background-size: 100% 0;
}
.index .bar.bar-header.bar-one {
  margin-top: 10px;
  margin-bottom: 10px;
}
.index .bar .button.button-clear {
  color: #e55050;
}
.index .bar .button.button-clear.logoPar {
  padding-left: 40px;
}
.index .bar .button.button-clear.persion {
  padding-right: 10px;
}
.index .logo {
  margin-top: -13px;
  transform: scale(0.5);
}
.index .list.list-bottom {
  margin-top: 10px;
  margin-bottom: 0;
}
.index .item.item-body.banner {
  padding: 0;
  border: none;
}
.index .padding.padding-left-right {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #ccc;
  padding-left: 5px;
  padding-right: 5px;
}
.index .padding.padding-left-right h4 {
  font-size: 14px;
  font-family: "微软雅黑";
  color: #0c0306;
  letter-spacing: 2px;
}
.index .tongdao {
  padding-top: 0;
  text-align: center;
}
.index .tongdao .col {
  border: 1px solid #ceced2;
  margin-right: 2%;
  border-radius: 5%;
  position: relative;
  height: 100px;
}
.index .tongdao .col.img img {
  width: 50px;
  height: 45px;
}
.index .tongdao .last-child {
  margin-right: 0;
}
.index .tongdao p {
  color: #5e5e5e;
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 10%;
}
.index .shop .col {
  height: auto;
}
.index .ion-android-phone-portrait:before,
.index .ion-star:before,
.index .ion-social-usd:before {
  font-size: 25px;
  padding-top: 5px;
}
.tab-item-active {
  color: #EF473A;
}
.tabs {
  border-top: 1px solid #ef473a !important;
  background-size: 100% 0;
}
.tabs-stable > .tabs,
.tabs.tabs-stable {
  border-color: #EF473A;
}
.tab-item.assertive.sm {
  border: 1px solid #ef473a;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 60px;
  top: -20px;
  background: #F8F8F8;
  margin-left: -30px;
  margin-top: -12px;
  padding-top: 5px;
  opacity: 1;
}
.forgetPassword .bar.bar-header.head {
  border-bottom: 1px solid #e60012;
}
.forgetPassword .bar.bar-header.head .title {
  color: #000;
  font-family: "黑体";
  letter-spacing: 2px;
  font-size: 20px;
}
.forgetPassword .bar.bar-header.head .regis {
  font-size: 15px;
  font-weight: bold;
}
.forgetPassword .box {
  margin-bottom: 10px;
}
.forgetPassword .box p {
  text-align: center;
  margin-bottom: 0;
  color: #dadada;
  font-weight: bold;
  letter-spacing: 2px;
}
.forgetPassword .box .scale img {
  transform: scale(0.45);
  position: absolute;
  top: -2px;
  right: -18px;
}
.forgetPassword .box .col {
  border-bottom: 3px solid #c5c5c5;
  padding-bottom: 0;
}
.forgetPassword .box .box-active {
  border-color: #e60012;
  position: relative;
}
.forgetPassword .box .box-active p {
  color: #e60012;
}
.forgetPassword .padding {
  padding-bottom: 0;
}
.forgetPassword .padding .item {
  border: none;
  margin-top: 0;
}
.forgetPassword .padding .padding-left-right {
  padding: 10px 0;
}
.forgetPassword .padding .fkf {
  margin-top: 10px;
  color: #9b9b9b;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  padding-left: 10px;
}
.forgetPassword .padding .kahao {
  border-bottom: 1px solid #c0c0c5;
  margin-bottom: 1px;
}
.forgetPassword .padding .kahao .kahao-user {
  color: #231815;
  font-weight: bold;
  letter-spacing: 1px;
}
.forgetPassword .padding .kahao .username {
  color: #9b9b9b;
  font-weight: bold;
  letter-spacing: 3px;
}
.forgetPassword .padding .kahao .tips {
  color: #9b9b9b;
}
.forgetPassword .padding .kahao .tips span {
  color: #df0005;
  font-weight: bold;
}
.forgetPassword .padding .item.item-input {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 5px;
}
.forgetPassword .padding .item.item-input .clear-bg {
  background: none;
  border: none;
}
.forgetPassword .padding .item.item-input label {
  background: #f5f5f5;
}
.forgetPassword .padding .item.item-input label span {
  display: inline-block;
  height: 100%;
  width: 50px;
  background: #e60012;
  text-align: center;
}
.forgetPassword .padding .item.item-input label i {
  border: none;
  color: #fff;
  font-size: 25px;
}
.forgetPassword .padding-vertical {
  padding-top: 12px;
}
.forgetPassword .mTop .list {
  margin-top: 15px;
}
.forgetPassword .regis-btn {
  z-index: 100;
  right: 12px;
  border-radius: 5px;
}
.msgCtrl .ww p {
  margin-left: 50px;
}
.msgCtrl .ww {
  background-color: #e8e8e8;
}
.msgCtrl .yy {
  margin-left: 20px;
  margin-top: 10px;
  display: inline-block;
}
.msgCtrl .card,
.msgCtrl .list-inset {
  margin-top: 5px;
}
.msgCtrl .card,
.msgCtrl .list-inset {
  margin-bottom: 10px;
}
.msgCtrl .bar .title {
  margin-bottom: 10px;
}
.money * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.money body {
  font-family: "microsoft yahei";
  background: #F5F5F5;
}
.money .new {
  background: #E60012;
  font-size: 10px;
  color: #fff;
  display: inline-block;
}
.money .newfont {
  color: #4C4C4C;
  font-size: 14px;
}
.money .col {
  margin: 5px;
  border-radius: 6px;
}
.money .row img {
  height: 60px;
  margin-top: 10px;
}
.money .row a {
  text-decoration: none;
  color: #fff;
}
.money .tabs img {
  height: 30px;
}
.money .scan {
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: 15px;
  margin-left: -25px;
  z-index: 100;
}
.money .tabs {
  border-top: 1px solid #E60012 !important;
  background: #fff;
}
.transferMoney .bar.bar-header.head {
  border-bottom: 1px solid #e60012;
}
.transferMoney .bar.bar-header.head .title {
  color: #000;
  font-family: "黑体";
  letter-spacing: 2px;
  font-size: 20px;
}
.transferMoney .padding {
  padding-bottom: 0;
}
.transferMoney .padding .item {
  border: none;
  margin-top: 0;
}
.transferMoney .padding .padding-left-right {
  padding: 10px 0;
}
.transferMoney .padding .fkf {
  margin-top: 10px;
  color: #9b9b9b;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  padding-left: 10px;
}
.transferMoney .padding .kahao {
  border-bottom: 1px solid #c0c0c5;
  margin-bottom: 1px;
}
.transferMoney .padding .kahao .kahao-user {
  color: #231815;
  font-weight: bold;
  letter-spacing: 1px;
}
.transferMoney .padding .kahao .username {
  color: #9b9b9b;
  font-weight: bold;
  letter-spacing: 3px;
}
.transferMoney .padding .kahao .tips {
  color: #9b9b9b;
}
.transferMoney .padding .kahao .tips span {
  color: #df0005;
  font-weight: bold;
}
.transferMoney .padding .item.item-input {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 5px;
}
.transferMoney .padding .item.item-input .clear-bg {
  background: none;
  border: none;
}
.transferMoney .padding .item.item-input label {
  background: #f5f5f5;
}
.transferMoney .padding .item.item-input label span {
  display: inline-block;
  height: 100%;
  width: 50px;
  background: #e60012;
  text-align: center;
}
.transferMoney .padding .item.item-input label i {
  border: none;
  color: #fff;
  font-size: 25px;
}
.transferMoney .padding .item.item-input label span.clearbg {
  background: #fff;
}
.transferMoney .padding .item.item-input label span.clearbg i {
  color: #e60012;
  font-size: 25px;
}
.transferMoney .padding-vertical {
  padding-top: 12px;
}
.transferMoney .padding-vertical .leshan {
  color: #0fc4d9;
  font-weight: bold;
}
.transferMoney .padding-vertical .leshan i {
  font-size: 20px;
  float: right;
}
.transferMoney .stable-border {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.getMoney .bar {
  border-bottom: 1px solid #e60012;
  height: 43px;
}
.getMoney .bar h1.title {
  font-weight: bold;
}
.getMoney .content {
  overflow-y: scroll;
  height: 100%;
  background: #ededed;
}
.getMoney .contentCon {
  background: #fff;
  border-radius: 5px;
  margin: 30px 10px;
  height: 300px;
  text-align: center;
  color: #b7b7b7;
}
.getMoney a.setting {
  color: #e60012;
  border: 1px solid #e60012;
  border-radius: 15px;
  padding: 3px;
}
.getMoney .bank .item img {
  float: left;
  margin-right: 40px;
}
.getMoney .list-inset {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 10px;
}
.getMoney a.subdued {
  display: block;
  margin-top: 10px;
  margin-left: 24px;
}
.getMoney .list.list-inset.bank {
  margin-right: 0;
  margin-left: 0;
}
.deepmsg * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "microsoft yahei";
}
.deepmsg body {
  background: #EEEEEE;
}
.deepmsg .bar h2.title {
  font-weight: bold;
}
.deepmsg .bar {
  border-bottom: 1px solid #E60B1C;
}
.deepmsg .item {
  padding: 0;
  border: 0;
  padding-top: 10px;
}
.deepmsg .item .choice {
  display: inline-block;
  background: #F5F5F5;
  color: #C7C7CD;
  width: 75%;
  height: 35px;
  line-height: 35px;
  padding-left: 30px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #E2E2E4;
  font-size: 14px;
}
.deepmsg .item .sh {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #E60B1C;
  color: #fff;
  line-height: 35px;
  text-align: center;
  font-size: 16px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.deepmsg .row {
  padding: 0 5px;
  border-bottom: 2px solid #E7E7E9;
  line-height: 40px;
  margin-left: 3%;
}
.deepmsg .speed {
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}
.deepmsg .require div {
  border: 1px solid #E60B1C;
  height: 35px;
  padding: 0;
  line-height: 35px;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-right: 3%;
  margin-left: 3%;
}
.deepmsg .require div:first-child {
  background: #E60B1C;
  color: #fff;
}
.deepmsg2 .bar.bar-header.head {
  border-bottom: 1px solid #e60012;
}
.deepmsg2 .bar.bar-header.head .title {
  color: #000;
  font-family: "黑体";
  letter-spacing: 2px;
  font-size: 20px;
}
.deepmsg2 .sum2 {
  background: #fff;
  border-bottom: 1px solid #ccc;
  color: #969696;
  font-family: "微软雅黑";
  font-size: 15px;
}
.deepmsg2 .sum3 {
  margin-top: 20px;
  background: #ffffff;
  border-bottom: 1px solid #c0c0c5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.deepmsg2 .sum3 span {
  color: #393939;
  font-weight: bold;
  letter-spacing: 1px;
}
.deepmsg2 .sum3 input {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  background: #f5f5f5;
}
.deepmsg2 .btn {
  background: #e60012 !important;
  border-radius: 5px;
  color: #fff;
}
.deepmsg2 .button:hover {
  color: #fff;
}
.deepmsg2 .padding-none {
  padding: 0;
}
.deepmsg2 .padding-none .col {
  padding: 0;
  text-align: center;
  line-height: 40px;
  color: #969696;
  font-family: "黑体";
  letter-spacing: 1px;
  font-size: 16px;
  background: #ffffff;
}
.deepmsg2 .padding-none .col.first {
  border-right: 1px solid #c0c0c5;
  border-bottom: 3px solid #e60012;
  color: #e60012;
}
.deepmsg2 .padding-none .col.second,
.deepmsg2 .padding-none .col.third {
  border-bottom: 1px solid #c0c0c5;
}
.deepmsg2 .padding-none .col.third {
  border-left: 1px solid #c0c0c5;
}
.deepmsg2 .row {
  padding: 5;
}
.deepmsg2 .padding {
  padding-bottom: 0;
  padding-top: 0;
}
.deepmsg2 .padding .item {
  border: none;
  margin-top: 0;
}
.deepmsg2 .padding .padding-left-right {
  padding: 10px 0;
}
.deepmsg2 .padding .fkf {
  margin-top: 15px;
  color: #9b9b9b;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  padding-left: 10px;
}
.deepmsg2 .padding .kahao {
  border-bottom: 1px solid #c0c0c5;
  margin-bottom: 1px;
}
.deepmsg2 .padding .kahao .kahao-user {
  color: #231815;
  font-weight: bold;
  letter-spacing: 1px;
}
.deepmsg2 .padding .kahao .username {
  color: #9b9b9b;
  font-weight: bold;
  letter-spacing: 3px;
}
.deepmsg2 .padding .kahao .tips {
  color: #9b9b9b;
}
.deepmsg2 .padding .kahao .tips span {
  color: #df0005;
  font-weight: bold;
}
.deepmsg2 .padding .stage {
  border-bottom: none;
}
.deepmsg2 .padding .stage .row {
  padding: 0;
}
.deepmsg2 .padding .stage .kahao-user {
  padding-top: 2px;
  display: inline-block;
}
.deepmsg2 .padding .item.item-input {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 5px;
}
.deepmsg2 .padding .item.item-input .clear-bg {
  background: none;
  border: none;
}
.deepmsg2 .padding .item.item-input label {
  background: #f5f5f5;
}
.deepmsg2 .padding .item.item-input label span {
  display: inline-block;
  height: 100%;
  width: 50px;
  background: #e60012;
  text-align: center;
}
.deepmsg2 .padding .item.item-input label i {
  border: none;
  color: #fff;
  font-size: 25px;
}
.deepmsg2 .padding-vertical {
  padding-top: 12px;
}
.deepmsg2 .padding-vertical .leshan {
  color: #0fc4d9;
  font-weight: bold;
}
.deepmsg2 .padding-vertical .leshan i {
  font-size: 20px;
  float: right;
}
.deepmsg2 .sum2.bg {
  background: #faecec;
}
.deepmsg2 .sum.sub {
  border-left-color: #0fc4d9;
}
.deepmsg2 .sum.sub .distance {
  color: #0fc4d9;
}
.deepmsg2 .sum.sub .shopSum span {
  padding-right: 8px;
}
.deepmsg2 .sum {
  margin-top: 20px;
  background: #fff;
  padding: 15px 0 5px;
  border-bottom: 1px solid #ccc;
  border-left: 5px solid #f94754;
  border-radius: 5px 0 0 5px;
}
.deepmsg2 .sum h2 {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.deepmsg2 .sum h2 .distance {
  float: right;
  margin-right: 30px;
  font-size: 14px;
  font-weight: normal;
  line-height: 28px;
  color: #e60012;
}
.deepmsg2 .sum p {
  border-bottom: 1px solid #c0c0c5;
}
.deepmsg2 .sum .padd {
  padding-left: 10px;
  padding-right: 10px;
}
.deepmsg2 .sum .padd .road {
  color: #969696;
  letter-spacing: 2px;
  margin-right: 20px;
}
.deepmsg2 .sum .padd .road i {
  font-size: 25px;
  float: right;
  margin-right: -20px;
  margin-top: -12px;
}
.deepmsg2 .sum .badge.badge-assertive.edit {
  border-radius: 0;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 12px;
}
.deepmsg2 .sum .shopSum {
  border: none;
  margin-bottom: 0;
  color: #969696;
  letter-spacing: 2px;
  padding-left: 10px;
}
.deepmsg2 .sum .shopSum span {
  float: right;
  color: #969696;
  letter-spacing: 1px;
}
.getPerson .bar.bar-header.head {
  border-bottom: 1px solid #e60012;
}
.getPerson .bar.bar-header.head .title {
  color: #000;
  font-family: "黑体";
  letter-spacing: 2px;
  font-size: 20px;
}
.getPerson .sum2 {
  background: #fff;
  border-bottom: 1px solid #ccc;
  color: #969696;
  font-family: "微软雅黑";
  font-size: 15px;
}
.getPerson .sum3 {
  margin-top: 20px;
  background: #ffffff;
  border-bottom: 1px solid #c0c0c5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.getPerson .sum3 span {
  color: #393939;
  font-weight: bold;
  letter-spacing: 1px;
}
.getPerson .sum3 input {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  background: #f5f5f5;
}
.getPerson .btn {
  background: #e60012 !important;
  border-radius: 5px;
  color: #fff;
}
.getPerson .button:hover {
  color: #fff;
}
.getPerson .padding-none {
  padding: 0;
}
.getPerson .padding-none .col {
  padding: 0;
  text-align: center;
  line-height: 40px;
  color: #969696;
  font-family: "黑体";
  letter-spacing: 1px;
  font-size: 16px;
}
.getPerson .padding-none .col.first {
  border-right: 1px solid #c0c0c5;
  border-bottom: 3px solid #e60012;
  color: #e60012;
}
.getPerson .padding-none .col.second {
  border-bottom: 1px solid #c0c0c5;
}
.getPerson .padding {
  padding-bottom: 0;
}
.getPerson .padding .item {
  border: none;
  margin-top: 0;
}
.getPerson .padding .padding-left-right {
  padding: 10px 0;
}
.getPerson .padding .fkf {
  margin-top: 15px;
  color: #9b9b9b;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  padding-left: 10px;
}
.getPerson .padding .kahao {
  border-bottom: 1px solid #c0c0c5;
  margin-bottom: 1px;
}
.getPerson .padding .kahao .kahao-user {
  color: #231815;
  font-weight: bold;
  letter-spacing: 1px;
}
.getPerson .padding .kahao .username {
  color: #9b9b9b;
  font-weight: bold;
  letter-spacing: 3px;
}
.getPerson .padding .kahao .tips {
  color: #9b9b9b;
}
.getPerson .padding .kahao .tips span {
  color: #df0005;
  font-weight: bold;
}
.getPerson .padding .item.item-input {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 5px;
}
.getPerson .padding .item.item-input .clear-bg {
  background: none;
  border: none;
}
.getPerson .padding .item.item-input label {
  background: #f5f5f5;
}
.getPerson .padding .item.item-input label span {
  display: inline-block;
  height: 100%;
  width: 50px;
  background: #e60012;
  text-align: center;
}
.getPerson .padding .item.item-input label i {
  border: none;
  color: #fff;
  font-size: 25px;
}
.getPerson .padding-vertical {
  padding-top: 12px;
}
.getPerson .padding-vertical .leshan {
  color: #0fc4d9;
  font-weight: bold;
}
.getPerson .padding-vertical .leshan i {
  font-size: 20px;
  float: right;
}
.handlePassword .rows {
  text-align: center;
}
.handlePassword .rows span {
  display: inline-block;
  height: 65px;
  width: 65px;
  border: 1px solid #C4C4C9;
  margin: 13px;
  background: #fff;
  border-radius: 50%;
}
.good a {
  text-decoration: none;
  color: #5E5E5E;
}
.good .bg {
  margin-top: 24%;
  position: relative;
}
.good .sort div {
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
}
.good .sort div img {
  height: 25px;
}
.good .sort div a p {
  margin: 0;
  font-size: 10px;
}
.good .sort div:nth-child(1) {
  top: 5%;
  left: 4%;
  border: 2px solid #2BA2E7;
}
.good .sort div:nth-child(2) {
  top: 16%;
  left: 30%;
  border: 2px solid #8CEADF;
}
.good .sort div:nth-child(3) {
  top: 49%;
  left: 36%;
  border: 2px solid #FFE77B;
}
.good .sort div:nth-child(4) {
  top: 72%;
  left: 14%;
  border: 2px solid #FFACAD;
}
.good .sort div:nth-child(5) {
  bottom: 8%;
  left: -12%;
  border: 2px solid #FB7273;
}
.good .sort .add {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid #eee;
  top: 50%;
  left: 0;
  margin-top: -60px;
  background: #F5F5F5;
}
.good .sort .add .addSmall {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #eee;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 13%;
  margin-top: -45px;
  padding-top: 15px;
}
.good .note {
  width: 40%;
  height: 200px;
  position: absolute;
  top: 50%;
  right: 0;
  padding-left: 30px;
  margin-top: -110px;
  background-image: url("../img/zly-note.png");
  background-size: cover;
}
.good .note .new {
  background: #E60012;
  color: #fff;
}
.good .note h5 {
  display: inline-block;
}
.good .note ul li a {
  padding-left: 8px;
  font-size: 13px;
  color: #C0C0C5;
}
.good .note ul li span {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #E60012;
}
.good .note .more {
  text-align: right;
  margin-top: 10px;
}
.good .note .more a {
  color: #C0C0C5;
}
.good .tabs img {
  height: 30px;
}
.good .scan {
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: 15px;
  margin-left: -25px;
  z-index: 100;
}
.good .tabs {
  border-top: 1px solid #E60012 !important;
  background: #fff;
}
.erweima .bar {
  border-bottom: 1px solid #e60012;
  height: 43px;
}
.erweima .bar h1.title {
  font-weight: bold;
}
.erweima .content {
  overflow-y: scroll;
  height: 100%;
  background: #ededed;
}
.erweima .contentCon {
  background: #fff;
  border-radius: 5px;
  margin: 30px 10px;
  height: 300px;
  text-align: center;
  color: #b7b7b7;
}
.erweima a.setting {
  color: #e60012;
  border: 1px solid #e60012;
  border-radius: 15px;
  padding: 3px;
}
.bankInfo .bar.bar-header.head {
  border-bottom: 1px solid #e60012;
}
.bankInfo .bar.bar-header.head .title {
  color: #000;
  font-family: "黑体";
  letter-spacing: 2px;
  font-size: 20px;
}
.bankInfo .list {
  background: #ffffff;
  padding: 0;
}
.bankInfo .list p {
  margin-bottom: 0;
  padding-bottom: 5px;
  font-size: 18px;
  font-family: '黑体';
  border-bottom: 1px solid #c0c0c5;
}
.bankInfo .list p span {
  color: #c0c0c5;
  font-size: 16px;
}
.bankInfo .list p i {
  color: #c0c0c5;
  float: right;
  font-size: 30px;
  margin-top: -17px;
}
.bankInfo .list-item.item-icon-right {
  border: none;
  margin: 0;
}
.bankInfo .item {
  border: none;
  padding-bottom: 0;
  margin: 0;
}
.bankInfo .list {
  border-radius: 5px;
  border: 1px solid #fff;
}
.tonggao2 .bar.bar-header.head {
  border-bottom: 1px solid #e60012;
}
.tonggao2 .bar.bar-header.head .title {
  color: #000;
  font-family: "黑体";
  letter-spacing: 2px;
  font-size: 20px;
}
.tonggao2 .list {
  background: #ffffff;
}
.tonggao2 .list p {
  color: #1f1f1f;
  font-family: '微软雅黑';
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
}
.tonggao2 .list p.date {
  color: #c0c0c5;
  font-size: 15px;
  font-weight: normal;
  border-bottom: 1px solid #c0c0c5;
  padding-bottom: 10px;
}
.tonggao2 .list span {
  display: inline-block;
  width: 50px;
}
.tonggao2 .list p.person {
  padding-left: 10px;
}
.tonggao2 .list p.msg {
  margin-top: 30px;
}
.tonggao2 .list .posi {
  padding-right: 50px;
  color: #c0c0c5;
  font-weight: normal;
}
.tonggao2 .list .com {
  margin-top: 20px;
  color: #c0c0c5;
  font-weight: normal;
  letter-spacing: 2px;
}
.suggestion .bar.bar-header.head {
  border-bottom: 1px solid #e60012;
}
.suggestion .bar.bar-header.head .title {
  color: #000;
  font-family: "黑体";
  letter-spacing: 2px;
  font-size: 20px;
}
.suggestion .btn {
  background: #e60012 !important;
  border-radius: 5px;
  color: #fff;
  font-family: "黑体";
}
.suggestion .button:hover {
  color: #fff;
}
.suggestion .padding .item.item-input {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 5px;
}
.suggestion .padding .item.item-input .clear-bg {
  background: none;
  border: none;
}
.suggestion .item .person {
  color: #000;
  font-family: "黑体";
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.suggestion textarea {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding: 15px;
  border: 1px solid #c0c0c5;
  border-radius: 8px;
  color: #9b9b9b;
  font-family: '黑体';
  font-size: 16px;
}
.order .bar {
  border-bottom: 1px solid #e60012;
}
.order .content {
  overflow-y: scroll;
  background: #EEEEEE;
  padding-top: 30px;
}
.order .show {
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid #E7E7E7;
  border-radius: 10px;
  border-left: 5px solid #e60012;
}
.order .showCon {
  padding-right: 30px;
  position: relative;
}
.order .showCon span.button {
  position: absolute;
  top: 35%;
  right: 0;
}
.order .showCon span.badge {
  border-radius: 0;
  margin-left: 5px;
}
.order .showCon h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #C0C0C5;
}
.order .past .showCon span.badge {
  background: #737373;
  color: #fff;
}
.order .past {
  border-left: 5px solid #737373;
}
.order2 .bar.bar-header.head {
  border-bottom: 1px solid #e60012;
}
.order2 .bar.bar-header.head .title {
  color: #000;
  font-family: "黑体";
  letter-spacing: 2px;
  font-size: 20px;
}
.order2 .sum {
  margin-top: 20px;
  background: #fff;
  padding: 15px 0 5px;
  border-bottom: 1px solid #ccc;
  border-left: 5px solid #f94754;
  border-radius: 5px 0 0 5px;
}
.order2 .sum h2 {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.order2 .sum h2 .distance {
  float: right;
  margin-right: 30px;
  font-size: 14px;
  font-weight: normal;
  line-height: 28px;
  color: #969696;
}
.order2 .sum p {
  padding-bottom: 15px;
  border-bottom: 1px solid #c0c0c5;
}
.order2 .sum .padd {
  padding-left: 10px;
  padding-right: 10px;
}
.order2 .sum .padd .road {
  color: #969696;
  letter-spacing: 2px;
  margin-right: 20px;
}
.order2 .sum .padd .road i {
  font-size: 30px;
  float: right;
  margin-right: -20px;
  margin-top: 20px;
}
.order2 .sum .badge.badge-assertive.edit {
  border-radius: 0;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 12px;
}
.order2 .sum .shopSum {
  border: none;
  margin-bottom: 0;
  color: #1f1f1f;
  letter-spacing: 2px;
  padding-left: 10px;
}
.order2 .sum .shopSum span {
  float: right;
  margin-right: 30px;
  color: #f94754;
  letter-spacing: 1px;
}
.order3 .bar.bar-header.head {
  border-bottom: 1px solid #e60012;
}
.order3 .bar.bar-header.head .title {
  color: #000;
  font-family: "黑体";
  letter-spacing: 2px;
  font-size: 20px;
}
.order3 .sum {
  margin-top: 20px;
  background: #faecec;
  padding: 15px 0 5px 10px;
  border-bottom: 1px solid #ccc;
}
.order3 .sum h2 {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.order3 .sum2 {
  background: #faecec;
  border-bottom: 1px solid #ccc;
  color: #969696;
}
.order3 .sum3 {
  margin-top: 20px;
  background: #ffffff;
  border-bottom: 1px solid #c0c0c5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.order3 .sum3 span {
  color: #393939;
  font-weight: bold;
  letter-spacing: 1px;
}
.order3 .sum3 input {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  background: #f5f5f5;
}
.order3 .btn {
  background: #e60012 !important;
  border-radius: 5px;
  color: #fff;
}
.order3 .button:hover {
  color: #fff;
}
