.bar.bar-header.head {
  border-bottom: 1px solid #e60012;
}
.bar.bar-header.head .title {
  color: #000;
  font-family: "黑体";
  letter-spacing: 2px;
  font-size: 20px;
}
.btn {
  background: #e60012 !important;
  border-radius: 5px;
  color: #fff;
  font-family: "黑体";
}
.button:hover {
  color: #fff;
}
.padding .item.item-input {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 5px;
}
.padding .item.item-input .clear-bg {
  background: none;
  border: none;
}
.item .person {
  color: #000;
  font-family: "黑体";
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}
textarea {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding: 15px;
  border: 1px solid #c0c0c5;
  border-radius: 8px;
  color: #9b9b9b;
  font-family: '黑体';
  font-size: 16px;
}
