<ion-view view-title="注册" ng-controller="registCtrl">
	<style>
		.xy {
			font-size: 6px;
		}
	</style>
	<ion-header-bar>
		<button class="button button-icon button-assertive button-clear icon ion-ios-arrow-back" ng-click="back()"></button>
		<h1 class="title">自助注册</h1>
	</ion-header-bar>
	<ion-content style="overflow-y: scroll;background: #EEEEEE;">
		<div class="row" style="text-align: center;border-bottom: 1px solid red;">
			<div class="col col-33" style="color: red;">信息录入</div>
			<div class="col col-33">密码设置</div>
			<div class="col col-33">注册完成</div>
		</div>
		<div class="list list-inset">
			<form  name="form">
				<label class="item item-input">
				    <span class="input-label">姓名:</span>
				    <input name="name" ng-model="user.name" type="text"placeholder="请输入您的真实姓名">
				  </label>
			<label class="item item-input">
				    <span class="input-label">证件类型:</span>				      				  
				    <input type="select" name="type" ng-model="user.type" class="item-select"placeholder="请选择">
				  </label>
			<label class="item item-input">
				    <span class="input-label">证件号码:</span>
				    <input name="typepass" ng-model="user.typepass" type="text"placeholder="请输入证件号码">
				  </label>
			</form>
		</div>
		<div class="list list-inset">
			<form  name="myForm">
				<label class="item item-input">
				    <span class="input-label">账号类型:</span>
				    <input name="username" ng-model="user.username" type="text"placeholder="请输入您的真实姓名">
				  </label>
				<label class="item item-input">
				    <span class="input-label">账号:</span>
				    <input name="userpass" ng-model="user.userpass" type="text" placeholder="请输入账号">
				  </label>
				<label class="item item-input">
				    <span class="input-label">交易密码:</span>
				    <input name="password" ng-model="user.password" type="password"placeholder="请输入六位数字交易密码">
				  </label>
				<label class="item item-input">
				    <span class="input-label">手机号:</span>
				    <input name="telphone" ng-model="user.telphone" type="number"placeholder="请输入手机号码">
				  </label>
				<label class="item item-input">
				    <span class="input-label">短信验证码:</span>
				    <input name="msg" ng-model="user.msg" type="text"placeholder="请输入证件号码">
				    <button class="button button-assertive button-small" style="margin-right: 10px;padding-right:10px">获取</button>
				  </label>
			</form>
		</div>
		<p class="xy padding">
			我已经阅读并同意
			<<乐山商业手机银行个人客服服务协议>></p>
		<p class="xy padding">
			<<乐山商业手机银行安全提示>></p>
		<div class="padding">
			<button ng-click="regist()"
				  class="button button-block button-assertive" 
				  ng-disabled="myForm.$invalid 
				  || myForm.username.$pristine 
				  || myForm.userpass.$pristine 
				  || myForm.password.$pristine 
				  || myForm.telphone.$pristine 
				  || myForm.msg.$pristine 
				  || form.$invalid 
				  || form.name.$pristine 
				  || form.type.$pristine 
				  || form.typepass.$pristine">同意并注册</button>
		</div>
	</ion-content>
	<div class="wraper">
		<div class="box"></div>
		<div class="spinner">
			<div class="cube1"></div>
			<div class="cube2"></div>
		</div>
	</div>
</ion-view>